<%# footer partial to credit the team for authoring and maintaining website features %>
<%# Author: Mikkel Baterina%>
<footer class="footer">
  <div class="container">
    <small>Authored and maintained by Group Gr8</small>
    <%# maybe add a navbar for credits page %>
  </div>
</footer>